/* Основні кольора для текста 
    Голубий колір заголовка #2196F3;
    Чорний колір заголовка #000000;

    Чорний колір тексту #212121;
    Синій колір наведення #2196F3;

    Білий колір тексту #FFFFFF;
    Білий клір кнопки #FFFFFF;
    Синій колір кнопки #2196F3;
    Сірий колір адреси #2196F3;
    Сірий колір доповнення #757575;
    Сірий колр нижньої адреси rgba(255, 255, 255, 0.6);

    Колір сторінки #E5E5E5;
    Колір Плакату #2F303A;
    Колір вікна команди #F5F4FA;

    Колір кнопки фільтра #F5F4FA;

*/

/* --------------- Утиліти ---------------  */

:root {
	--primary-text-color: #757575;
	--title-color: #212121;
	--accent-color: #2196f3;
	--primary-btn-bgc: #f5f4fa;
	--accent-btn-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

button {
	cursor: pointer;
}

img {
	display: block;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.link {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


/* --------------- Контент сторінки ---------------  */

body {
	background-color: #ffffff;
	color: var(--title-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	outline: 2px solid red;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* --------------- Оформлення шапки ---------------  */

.header {
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ececec;
}

.nav {
	display: flex;
}

/* --------------- Логотип сайту ---------------  */

.logo {
	color: #000000;
	font-family: Raleway, sans-seri;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
}

.logo-caption {
	color: #2196f3;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}
.main-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* --------------- Сайт зараз ---------------  */

.site-nav {
	display: flex;
	align-items: center;
	margin-left: 93px;
}
.site-nav-item:not(:last-child) {
	margin-right: 50px;
}

.site-nav-link  {
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;

	color: #212121;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.site-nav-link:hover,
.site-nav-link:focus {
	color: var(--accent-color);
}

.site-nav-link.corrent {
	color: var(--accent-color);
}

/* --------------- Контактні дані ---------------  */

.kontakt {
	margin-left: auto;
	display: flex;
}

.kontakt-item:not(:last-child) {
	margin-right: 50px;
}

.kontakt-link {
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;

	color: #757575;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.kontakt-link:hover,
.kontakt-link:focus {
	color: #2196f3;
}

/* --------------- Герой ---------------  */

.hero {
	padding-top: 200px;
	padding-bottom: 200px;
	margin: 0;
	background-color: #2f303a;
}

.hero .hero-title {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;

	color: #ffffff;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.button {
	border-radius: 4px;
	padding: 10px 32px;
	min-width: 200px;
	border: none;
	margin-right: auto;
	margin-left: auto;
	display: block;
	align-items: center;
	text-align: center;

	font-family: Roboto;
	color: #ffffff;
	background-color: #2196f3;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
	background: #188CE8;
}

/* --------------- Переваги помлуг ---------------  */

.advantages-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.advantages-box {
	width: 270px;
}

.advantages-subtitle {
	margin: 0;
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.advantages-text {
	color: var(--primary-text-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}

/* --------------- Розгляд послуг ---------------  */

.section-title {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.service-list {
	display: flex;
}

.service-item {
	margin-right: 30px;
}

.service-item:last-child {
	margin-right: 0;
}

/* --------------- Члени команди ---------------  */

.team-list {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.team-container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.team-name {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.team-text {
	color: #757575;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

/* --------------- Футер ---------------  */

.footer {
	background-color: #2f303a;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-nav {
	display: flex;
}

.logo.slogan {
	color: #ffffff;
}

.address {
	margin-top: 20px;
}

.link-addres:not(:last-child) {
	margin-bottom: 9px;
}

.address .address-map {
	color: #ffffff;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
}

.address .address-link {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.address .address-link:hover,
.address .address-link:focus {
	color: var(--accent-color);
}


/* --------------- Портфоліо ---------------  */


/* --------------- Фільтир ---------------  */

.buttons-gallery {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.btn-gallery:not(:last-child) {
	margin-right: 8px;
}

.btn {
	border-radius: 4px;
	padding: 6px 22px;
	border: none;

	font-family: Roboto;
	color: var(--title-color);
	background-color: var(--primary-btn-bgc);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
}

.btn:hover,
.btn:focus {
	color: var(--accent-btn-color);
	background-color: var(--accent-color);
}

/* --------------- Список проектів ---------------  */

.gallery-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item-gallery:not(:nth-child(n + 7)) {
	margin-bottom: 30px;
}

.item-gallery:not(:nth-child(3n)) {
	margin-right: 30px;
}

.link-content {
	text-decoration: none;
}

.feactures-content {
	padding: 20px 24px;
	border: 1px solid #eeeeee;
	border-top: none;
	background-color: #ffffff;
}

.items .subject {
	margin-bottom: 4px;
	text-align: start;

	color: var(--title-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.items .subject-text {
	color: var(--primary-text-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
}
